body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-content {
  padding: 10px;
}

.Results {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.result {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
}

.result-col {
  flex: 1;
  display: flex;
  align-content: center;
  justify-content: center;
}
