body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Header {
  background-color: #ffbb43;
}

.Header-brand {
  font-family: 'Permanent Marker', cursive;
}

.Header-location {
  margin: 0.25em 0.5em;
}

.App-content {
  padding: 1em;
}

.Results {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.raw-data {
  font-family: 'Courier New', Courier, monospace;
}
