body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Header {
  background-color: #ffbb43;
}

.Header-brand {
  font-family: 'Permanent Marker', cursive;
}

.Header-location {
  margin: 0.25em 0.5em;
}

.App-content {
  padding: 1em;
}

.TestList {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.TestList thead {
  color: #777;
  font-size: 0.7em;
  text-transform: uppercase;

  background-color: #eee;
}

.TestDetail thead {
  color: #777;
  font-size: 0.7em;
  text-transform: uppercase;

  background-color: #eee;
}

.sub-menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.file-name {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.description-ellipsis {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-date {
  color: #999;
  font-weight: bold;
}

.right-pad {
  margin-right: 0.2em;
}

.meta-pill {
  font-size: 0.9em;
  text-transform: uppercase;
  margin: 0 0.2em;
}

.raw-data {
  font-family: 'Courier New', Courier, monospace;
}

.test-info {
  display: flex;
  flex-direction: column;
}

.edit-info {
  color: #f8f8f2;
  background-color: #272822;
  font-size: 0.75em;
  border-radius: 0.3em;
  padding: 1em;
}

.edit-box {
  font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.85em;
  color: #f8f8f2;
  background-color: #272822;

  display: block;
  text-align: left;
  overflow: auto;
  white-space: pre;
  word-spacing: normal;
  word-wrap: normal;
  word-break: normal;

  margin: 0.5em 0;
  border: none;
  border-radius: 0.3em;
  padding: 1em;
  line-height: 1.5;
}

.dropzone {
  width: inherit;
  height: 10em;

  border-width: 2;
  border-color: #666;
  border-style: dashed;
  border-radius: 5;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.dropzone .active {
  border: 1px solid #6c6;
  background-color: #eee;
}

.dropzone .reject {
  border: 1px solid #c66;
  background-color: #eee;
}
